# Backend specific
/back/venv/
/back/__pycache__/
/back/*.pyc
/back/.env

# Frontend specific
/front/node_modules/
/front/.next/
/front/out/
/front/.env.local

# Editor/OS specific
.vscode/
.idea/
*.DS_Store
